<form [formGroup]="DataForm">
  <swiper
    class="swiper-container"
   
    [config]="config"
    (indexChange)="onSlide($event)"
    #swiperGallery
  >
    <div *ngFor="let step of steps;let i = index"  class="swiper-slide">
        <div class="caption">
          <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill *ngIf="step.length == undefined">
            <question-view
            [type]="step.content.type"
            [step]="step"
            [DataForm]="DataForm">
            </question-view>
          </div>
        </div>
        <background [step]="step"></background>
    </div>
  </swiper>
  
  <div class="bottom-center">
    <a role="button" class="btn btn-lg btn-success" (click)="next()" *ngIf="!showEndButton"><span class="font-white">Passer à la section suivante</span><span class="sr-only">Next</span></a>
    <br><br>
    <a role="button" class="btn btn-lg btn-primary" (click)="submit()" *ngIf="showEndButton"><span class="font-white">Envoyer les résultats</span></a>
  </div>
</form>
