  <ngb-carousel #carousel [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let step of steps; index as i">
      <div class="carousel-caption">
        <h3>{{step.content.title}} </h3>
        <form *ngIf="(step.content.type == 'textField')">
            <div class="form-group">
                <label for="exampleInputEmail1">{{step.content.title}}</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez la réponse">
            </div>
        </form>
        <form *ngIf="(step.content.type == 'Boolean')">
            <div class="form-group">
                <button type="button" class="btn btn-success">Oui</button>
                <button type="button" class="btn btn-primary">Non</button>
            </div>
        </form>
        <form *ngIf="(step.content.type == 'multipleChoice')">
            <div class="form-group">
                <div class="form-check" *ngFor="let choice of step.content.choices; index as i">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck{{i}}">
                    <label class="form-check-label" for="defaultCheck{{i}}">
                      {{choice}}
                    </label>
                  </div>
            </div>
        </form>
        <form *ngIf="(step.content.type == 'radio')">
            <div class="form-group">
                <div class="form-check" *ngFor="let choice of step.content.choices; index as i">
                    <input class="form-check-input" type="radio" name="{{step.step}}" value="" id="defaultCheck{{i}}">
                    <label class="form-check-label" for="defaultCheck{{i}}">
                      {{choice}}
                    </label>
                  </div>
            </div>
        </form>
      </div>
      
      <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer" *ngIf="(step.content.type == 'media')">
        <div class="picsum-img-wrapper">
          <img [src]="step.content.url" alt="My image {{i + 1}} description" *ngIf="!step.content.isVideo">
        </div>
      </a>
      <div style="background-color: black;width: 100%; height: 100%;" class="picsum-img-wrapper" *ngIf="(step.content.type != 'media')"></div>
      <iframe frameborder="0" allowfullscreen
        style="width:100%;height:100%;position: absolute; top:0" [src]="step.content.url | safe" *ngIf="step.content.isVideo"></iframe>
    </ng-template>
  </ngb-carousel>

  <ng-template #color let-step>
    <div style="background-color: black;width: 100%; height: 100%;" class="picsum-img-wrapper"></div>
  </ng-template>