<form>
  <ngb-carousel #carousel [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let step of steps; index as i">
      <div class="carousel-caption">
        <ng-container *ngIf="step.length == undefined">
          <question-view
          [type]="step.content.type"
          [step]="step">
          </question-view>
        </ng-container>
      </div>
      <background [step]="step"></background>
    </ng-template>
  </ngb-carousel>``
  <div class="bottom-center">
    <a role="button" class="btn btn-lg btn-success" (click)="next()"><span aria-hidden="true" class="carousel-control-next-icon"></span><span class="font-white">Passer à la section suivante</span><span class="sr-only">Next</span></a>
  </div>
</form>
