.section{
    margin-left: 2em;
    background-color: #f7f7f9;
    border-radius: 5px;
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
    border: solid #f7f7f9;
    border-width: .2rem 0 0;
}
.step {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
    border: solid #d7d7d7;
    background-color: #d7d7d7;
    border-radius: 3px;
    border-width: .2rem 0 0;
}