<form [formGroup]="FormIdable">
    <h1>{{form.title}}</h1>
    <div class="form-group">
        <label for="formTitle">Titre du formulaire</label>
        <input type="text" class="form-control" id="formTitle" formControlName="title" value="{{form.title}}" placeholder="Entrer le titre du formulaire">
    </div>
    <div formArrayName="steps" class="well well-lg">
        <div *ngFor="let step of steps.controls; let i=index" [formGroupName]="i" >
            <h4>Etape #{{i + 1}}</h4>
            <div style="margin-left: 1em;"formGroupName="content">
                <div class="form-group">
                    <label class="center-block">Titre de la question:
                    <input class="form-control" formControlName="title" value="{{step.value.content.title}}">
                    </label>
                </div>
                <div class="form-group">
                    <label class="center-block">Type:
                      <input class="form-control" formControlName="type" value="{{step.value.content.type}}">
                    </label>
                </div>
            
                <div formArrayName="steps" class="well well-lg">
                    <div *ngFor="let step of subSteps(i).controls; let j=index" [formGroupName]="j" >
                        <h4>Sous-Etape #{{j + 1}}</h4>
                        <div style="margin-left: 1em;"formGroupName="content">
                        <div class="form-group">
                            <label class="center-block">Titre de la question:
                            <input class="form-control" formControlName="title" value="{{step.value.content.title}}">
                            </label>
                        </div>
                        <!-- <div class="form-group">
                            <label class="center-block">State:
                            <select class="form-control" formControlName="state">
                                <option *ngFor="let state of states" [value]="state">{{state}}</option>
                            </select>
                            </label>
                        </div> -->
                        </div>
                        <br>
                    </div>
                </div>
              <!-- <div class="form-group">
                <label class="center-block">State:
                  <select class="form-control" formControlName="state">
                    <option *ngFor="let state of states" [value]="state">{{state}}</option>
                  </select>
                </label>
              </div> -->
            </div>
            <br>
        </div>
    </div>
    <button type="button" class="btn btn-primary">Ajouter une étape dans le formulaire</button>
    <br><br>
    <button type="button" (click)="submit()" class="btn btn-success">Sauvegarder mes changements</button>
</form>