<ng-container *ngIf="stepGroup != null" [formGroup]="stepGroup">
    <div formGroupName="content" class="item">
        <div class="form-group">
            <label for="type-{{stepGroup.value.step}}">Type de controle</label>
            <select class="form-control" id="type-{{stepGroup.value.step}}" formControlName="type" value="{{stepGroup.value.content.type}}" (change)="onChange($event.target.value)">
                <option value="media">Image ou vidéo youtube</option>
                <option value="section">Groupement de question</option>
                <option value="yesno">Oui/Non</option>
                <option value="radio">Choix multiple / réponse unique</option>
                <option value="multiple">Choix multiple</option>
                <option value="jauge">Jauge</option>
                <option value="text">Zone de texte</option>
                <option value="open">Réponse libre</option>
            </select>
        </div>

        <div class="form-group">
            <label class="center-block">Titre de la question:</label>
            <input class="form-control col-sm-12" formControlName="title" value="{{stepGroup.value.content.title}}">
        </div>

        <ng-container [ngSwitch]="stepGroup.value.content.type"class="card-text" >
            <ng-container *ngSwitchCase="'yesno'">
                <ng-container *ngTemplateOutlet="yesNoTemplate; context: {$implicit: stepGroup}"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'radio'">
                <ng-container *ngTemplateOutlet="multipleTemplate; context: {$implicit: stepGroup}"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'text'">
                <ng-container *ngTemplateOutlet="textTemplate; context: {$implicit: stepGroup}"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'jauge'">
                <ng-container *ngTemplateOutlet="jaugeTemplate; context: {$implicit: stepGroup}"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'section'">
                <ng-container *ngTemplateOutlet="sectionTemplate; context: {$implicit: stepGroup}"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'media'">
                <ng-container *ngTemplateOutlet="mediaTemplate; context: {$implicit: stepGroup}"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'multiple'">
                <ng-container *ngTemplateOutlet="multipleTemplate; context: {$implicit: stepGroup}"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'open'">
                <ng-container *ngTemplateOutlet="openTemplate; context: {$implicit: stepGroup}"></ng-container>
            </ng-container>
        </ng-container>
    </div>
</ng-container>

<ng-template #mediaTemplate let-stepGroup>
    <div class="form-group" [formGroup]="stepGroup" >
        <label class="center-block">Liste des choix possibles :</label>
        <div formGroupName="content">
            <div formArrayName="medias">
                <div class="form-group " *ngFor="let media of medias.controls; index as i" [formGroupName]="i">
                    <div class="row">
                        <input class="form-control col-sm-4" formControlName="name" placeholder="Nom du média">
                        <input class="form-control col-sm-4" formControlName="url" placeholder="Url du media">
                        <button type="button" (click)="removeMedia(i)" class="btn btn-danger col-sm-4">Supprimer</button>
                    </div>
                    <div class="form-check" >
                        <input type="checkbox" class="form-check-input" formControlName="isVideo" id="disablable-{{stepGroup.value.step}}">
                        <label class="form-check-label" for="disablable-{{stepGroup.value.step}}">C'est une vidéo</label>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" (click)="addMedia()" class="btn btn-success">Ajouter un média</button>
    </div>
</ng-template>

<ng-template #yesNoTemplate let-stepGroup>
    
</ng-template>

<ng-template #openTemplate let-stepGroup>
    
</ng-template>

<ng-template #multipleTemplate let-stepGroup>
    <div class="form-group" [formGroup]="stepGroup" >
        <label class="center-block">Liste des choix possibles :</label>
        <div formGroupName="content">
            <div formArrayName="choices">
                <div class="form-group " *ngFor="let choice of choices.controls; index as i" >
                    <div class="row">
                        <input class="form-control col-sm-10" [formControlName]="i">
                        <button type="button" (click)="removeChoice(i)" class="btn btn-danger col-sm-2">Supprimer</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" (click)="addChoice()" class="btn btn-success">Ajouter un choix</button>
    </div>
</ng-template>
  
<ng-template #jaugeTemplate let-stepGroup>
    <ng-container [formGroup]="stepGroup" >
        <ng-container formGroupName="content" class="item">
            <div class="form-group">
                <label class="center-block">Borne Basse :</label>
                <input class="form-control col-sm-12" formControlName="borneBasse" value="{{stepGroup.value.content.borneBasse}}">
            </div>
            <div class="form-group">
                <label class="center-block">Borne Haute : </label>
                <input class="form-control col-sm-12" formControlName="borneHaute" value="{{stepGroup.value.content.borneHaute}}">
            </div>
            <div class="form-check" >
                <input type="checkbox" class="form-check-input" formControlName="disablable" id="jauge-{{stepGroup.value.content.title}}-{{stepGroup.value.step}}">
                <label class="form-check-label" for="jauge-{{stepGroup.value.content.title}}-{{stepGroup.value.step}}">Possibilité de ne pas répondre</label>
            </div>
        </ng-container>
    </ng-container>
</ng-template>
  
  <ng-template #textTemplate let-stepGroup>
    <div class="form-group" [formGroup]="stepGroup" >
        <label class="center-block">Contenu</label>
        <ng-container formGroupName="content">
            <ckeditor [editor]="Editor" formControlName="body" ></ckeditor>
        </ng-container>
    </div>
  </ng-template>
  
  <ng-template #sectionTemplate let-stepGroup>
    <h1>{{stepGroup.value.content.title}}</h1>
    <p>{{stepGroup.value.content.description}}</p>

  </ng-template>
  
  