<ng-container *ngIf="step.content != undefined;else color">
    <a href="{{step.content.url}}" target="_blank" rel="nofollow noopener noreferrer" *ngIf="(step.content.type == 'media')">
        <div class="picsum-img-wrapper">
        <img [src]="step.content.url" alt="My image {{step.content.title}} description" *ngIf="!step.content.isVideo">
        </div>
    </a>
    <ng-container *ngIf="(step.content.type != 'media')"> 
        <ng-container *ngTemplateOutlet="color"></ng-container>
    </ng-container>
    <iframe frameborder="0" allowfullscreen
        style="width:100%;height:100%;position: absolute; top:0" [src]="step.content.url | safe" *ngIf="step.content.isVideo"></iframe>
</ng-container>

<ng-template #color>
    <div rcRandomColor [bgColor]='["#eee"]' style=" height: 100%;" class="picsum-img-wrapper" ></div>
</ng-template>