
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="60"
    alt="Idable forms Logo"
    src="../assets/lion-face-outlined-front-svgrepo-com.svg"
  />
  
    <a href="/admin/forms" class="menuItem">
      Administration des formulaires
    </a>

    <div class="spacer"></div>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>
<ng-http-loader 
    [backgroundColor]="'#202b38'"
    [debounceDelay]="100"
    [extraDuration]="2000"
    [minDuration]="300"
    [opacity]="1"
    [spinner]="spinkit.skCubeGrid">
</ng-http-loader>
