.radio-group{
    display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.jauge{
  min-height: 110px;
}

.jauge_only{
  min-height: 110px;
  display: block;
}

.ng5-slider-tick-legend {
  font-size: 11px;
  max-width: 92px;
}

p{
  color: black;
}

.hide-pointer span.ng5-slider-span.ng5-slider-pointer.ng5-slider-pointer-min {
  display: none;
}