<div class="col-sm-12 presentation d-flex justify-content-center" >
  <div class="col-sm-10" >
    <h1>Liste des questionnaires</h1>
    <p>Vous retrouverez ici l'intégralité des questionnaires qui vous sont proposés. Ces questionnaires sont entièrement configurables par un administrateur.</p>
    <p>Les données récupérées par ces questionnaires sont stockées uniquement dans un but universitaire ou de formations. Elles ne sont en aucun cas commercialisées.</p>
    <div class="col-sm-12 d-flex justify-content-center">
      <button mat-button class="launch"><span></span>Participer à l'aventure.</button>
    </div>
  </div>
</div>
<div class="content row col-sm-12 d-flex justify-content-center">
  <div class="col-sm-10 cards">
    <div class=" d-flex flex-column flex-md-row justify-content-left">
      <mat-card class="col-sm-9 col-md-3 p-12 card" *ngFor="let form of forms" rcRandomColor [bgColor]='["#e7e9ea"]'>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{form.title}}</mat-card-title>
          <mat-card-subtitle>Formulaire à remplir</mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="form.imgUrl != ''" mat-card-image src="{{form.imgUrl}}" alt="Photo de {{form.title}}">
        <mat-card-content>
          <p>
            {{form.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button href="/form/{{form._id}}">Participez à ce sondage et sauvez le monde</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>