.content{
    max-width: 100%;
    flex-direction: row;
    background: #111321;
    margin: 0;
    border-top: dotted 4Px #757575;
}

.card{
    margin: 10px;
    border: black;
    box-shadow: 0px 4px 12px grey;
}

.presentation{
    background: url("https://hdwallpapers.imgix.net/freestockphotos-36301559625652qjob8vlgvi.jpg?auto=compress&cs=tinysrgb&dpr=1");
    background-size: 100%;
    width: 100%;
    padding-top: 85px;
    z-index: -1;
    min-height: 400px;
    color: white;
}

.launch{
    background: #fb8c00;
}

.cards{
    max-width: 98%;
    overflow-x: scroll;
}
